<h1>Write a comment about <%= @match.name %></h1>

<%= simple_form_for([@match, @comment]) do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<p><%= link_to 'Back to match', match_path(@match) %></p>
