<!DOCTYPE html>
<html>
  <head>
    <title>Billy's Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>The Life of Bill</h1>
    <%= yield %>
    <p>To be continued ...</p>
  </body>
</html>
